<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our principles and core values</h2>
                    <h3 class="section-subheading text-muted">Since the beginning, we have upheld the same principles and values that shape who we are. They guide what we do, how we do it, why we do it, and who we hire. We're in a rapidly changing and evolving industry. As our company evolves and grows, these six values remain constant.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
                                <h4><br>Value 1<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Simple</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - Being simple is our most fundamental principle. We avoid complexity and try to reduce everything to its simplest form possible. Because simplicity always brings clarity.</p>
                                    <p class="text-muted">02 - We try to simplify everything we touch, such as our internal and external communications or the user experience of our products reaching the end-user.</p>
                                    <p class="text-muted">03 - While designing the user experience of our products, we aim to execute the final product so simple that our grandparents could use them. When we start our path with this goal in mind, our products become user-friendly and convenient for our audience.</p>
                                    <p class="text-muted">04 - We want our internal and external communications to be as clear and concise as possible. If there is ever a misunderstanding from the recipients, it means our message wasn't as simple as we wanted it to be. In this case, we don't blame anybody but ourselves and always try to find our own shortcomings.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">-->
                                <h4><br>Value 2<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be A Team-player</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - Our entire team contributes to the success of our products with dedication and tireless efforts.</p>
                                    <p class="text-muted">02 - We prioritize the success of the team before any individual success.</p>
                                    <p class="text-muted">03 - We are a winning team, not a family, and have high expectations for performance and delivering results.</p>
                                    <p class="text-muted">04 - Every member of our team is like a piece of a puzzle. We support and complete each other while creating the big picture altogether.</p>
                                    <p class="text-muted">05 - Thanks to our feedback culture, all team members contribute to each other's personal development.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
                                <h4><br>Value 3<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Data-driven</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - At HUBX, data shape our every decision without exception. Regardless of whom it comes from, we use data as a tool to question ideas. And always clarify our goals and results with numerical data.</p>
                                    <p class="text-muted">02 - For any action that needs to be taken companywide or in our products, we first collect clear and correct data before committing to any decision.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                                <h4><br>Value 4<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Growth-oriented</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - At HUBX, personal and team development are essential for our success. That's why we use feedback as a required tool to help each other improve day in and day out.</p>
                                    <p class="text-muted">02 - Our industry is dynamic and rapidly changing. That's why we need to continuously improve ourselves to keep up with the ever-changing needs of our audience.</p>
                                    <p class="text-muted">03 - We are not afraid of making mistakes. We embrace our mistakes and consider them as learning experiences.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
                                <h4><br>Value 5<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Result-oriented</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - Our team is passionate, proactive, and resourceful. We use every tool in our arsenal to achieve our objectives.</p>
                                    <p class="text-muted">02 - We religiously follow our annual company and team goals throughout the year and treat them as north stars.</p>
                                    <p class="text-muted">03 - To reach our company objectives every year, we determine the KPIs we can achieve and set clear and high goals for our teams.</p>
                                    <p class="text-muted">04 - We are result-oriented. Instead of losing our time wondering why a job can't be done, we spend time figuring out how it can be done.</p>
                                    <p class="text-muted">05 - We prioritize efficiency in every field and avoid unnecessary meetings because time time has a cost and needs to managed effectively.</p>
                                    <p class="text-muted">06 - We have a bias for action. We complete high quality work quickly. We focus on the 20% of work that will get us 80% of the impact.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                                <h4><br>Value 6<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Humble</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - At HUBX, we leave our egos at the door — there is no title, no hierarchy. We communicate openly, listen well, trust each other and make no assumptions.</p>
                                    <p class="text-muted">02 - We don't believe in titles; that's why we don't use them. Taking the initiative and getting results are more critical for us than hierarchy.</p>
                                    <p class="text-muted">03 - We are humble and share success when we succeed, and if we make mistakes, we show courage and take responsibility.</p>
                                </div>
                            </div>
                        </li>                        
                        <li class="timeline-inverted">
                            <a href="#">
                                <div class="timeline-image">
                                    <h4>FAÇA PARTE
                                        <br>DO NOSSO
                                        <br>TIME!</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
