<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Principles and Core Values</h2>
                    <h3 class="section-subheading text-muted">Since our inception, we have steadfastly upheld the principles and values that define our identity. They serve as our compass, guiding what we do, how we do it, why we do it, and who we bring on board. In an industry marked by rapid change and continuous evolution, these six values remain the enduring foundation of our company’s growth and success.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
                                <h4><br>Value 1<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Simple</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - Simplicity is our core principle. We strive to eliminate complexity and reduce everything to its simplest, most effective form. Because simplicity brings clarity, efficiency, and better results.</p>
                                    <p class="text-muted">02 - We aim to simplify all areas of our work—whether it’s internal or external communications, processes, or the user experience of our products. Simplifying ensures clarity, usability, and a seamless experience for everyone.</p>
                                    <p class="text-muted">03 - In designing the user experience of our products, we aim to create solutions so intuitive that even our grandparents can use them. By keeping this goal in mind, our products become user-friendly, accessible, and tailored to meet the needs of our audience.</p>
                                    <p class="text-muted">04 - We prioritize clear and concise communications. If there is ever a misunderstanding, we take full responsibility, recognizing it means our message wasn’t as simple or effective as it should have been. We continuously seek ways to improve and ensure clarity in everything we do.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">-->
                                <h4><br>Value 2<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be A Team-player</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - Every member of our team is dedicated and committed to the success of our products, contributing with passion, collaboration, and relentless effort.</p>
                                    <p class="text-muted">02 - We prioritize the success of the team over individual achievements. We believe that collective success drives greater results for everyone.</p>
                                    <p class="text-muted">03 - We are a high-performing team with clear expectations for delivering exceptional results. We set ambitious goals, focus on accountability, and work together to achieve them.</p>
                                    <p class="text-muted">04 - Each team member is a crucial part of the puzzle. We support and complement one another, leveraging our unique strengths to build a cohesive and impactful team.</p>
                                    <p class="text-muted">05 - Our culture of feedback ensures continuous growth and development for every team member. By learning from one another, we foster an environment where everyone thrives and improves together.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
                                <h4><br>Value 3<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Data-driven</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - At HUBX, data drives every decision we make—without exception. We rely on data to question assumptions, validate ideas, and ensure that every action is guided by clear, fact-based insights. Our decisions are backed by rigorous analysis and numerical clarity, ensuring we remain aligned with our goals and deliver measurable results.</p>
                                    <p class="text-muted">02 - For any initiative, whether at the company level or related to our products, we prioritize collecting accurate and relevant data before committing to decisions. This ensures that we are making informed choices, minimizing risk, and maximizing impact.</p>
                                    <p class="text-muted">03 - We embrace a culture of continuous improvement by tracking key performance indicators (KPIs) and using data to monitor progress. Our focus on data ensures accountability, efficiency, and the ability to adapt quickly to evolving challenges.</p>
                                    <p class="text-muted">04 - Data is at the core of how we evaluate performance, optimize processes, and drive innovation. We foster a mindset that values evidence-based decision-making, ensuring that our actions are always aligned with measurable results and continuous growth.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                                <h4><br>Value 4<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Growth-oriented</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - At HUBX, both personal and team development are fundamental to our success. We view feedback as a crucial tool for continuous improvement, fostering an environment where everyone can grow and achieve their full potential.</p>
                                    <p class="text-muted">02 - To stay ahead, we commit to continuous self-improvement, ensuring we adapt to the ever-changing needs of our audience and maintain a competitive edge.</p>
                                    <p class="text-muted">03 - We embrace mistakes as valuable learning opportunities. By reflecting on our experiences and setbacks, we cultivate a culture of resilience, innovation, and continuous growth.</p>
                                    <p class="text-muted">04 - We encourage a growth mindset, where challenges are seen as chances to learn and improve. Every member of our team is empowered to pursue development, seek knowledge, and take initiative to reach new heights.</p>
                                    <p class="text-muted">05 - Through a focus on self-awareness, collaboration, and goal setting, we ensure that both individuals and the team thrive in an ever-evolving landscape.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
                                <h4><br>Value 5<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Result-oriented</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - Our team is passionate, proactive, and resourceful, leveraging every available tool to achieve our objectives.</p>
                                    <p class="text-muted">02 - We treat our annual company and team goals as guiding principles, diligently following them throughout the year.</p>
                                    <p class="text-muted">03 - To meet our objectives, we establish measurable KPIs and set ambitious yet clear goals for our teams.</p>
                                    <p class="text-muted">04 - As a result-oriented team, we focus on solutions rather than obstacles. Instead of dwelling on why something can’t be done, we channel our energy into discovering how it can be achieved.</p>
                                    <p class="text-muted">05 - Efficiency is our priority. We minimize unnecessary meetings, valuing time as a resource that must be managed wisely.</p>
                                    <p class="text-muted">06 - We maintain a bias for action, delivering high-quality work quickly. By focusing on the 20% of efforts that drive 80% of the impact, we maximize our productivity and results.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                                <h4><br>Value 6<br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Be Humble</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">01 - At HUBX, we leave our egos at the door. There are no titles, no rigid hierarchy. We prioritize open communication, active listening, trust, and the belief that every voice matters—regardless of position. We make no assumptions and approach every interaction with humility and respect.</p>
                                    <p class="text-muted">02 - We don’t rely on titles or formal distinctions. What matters most is taking initiative, contributing ideas, and delivering results. We believe that leadership is demonstrated through actions, not titles, ensuring everyone has the opportunity to make an impact.</p>
                                    <p class="text-muted">03 - We embrace humility by celebrating collective success and acknowledging that growth comes from both achievements and failures. When we succeed, we share credit as a team, and when we make mistakes, we take ownership, learn, and improve.</p>
                                    <p class="text-muted">04 - Our culture fosters accountability, trust, and respect. We create a safe environment where everyone feels empowered to contribute, knowing their ideas and efforts are valued. Humility drives us to be open to feedback, encourage growth, and continuously strive for better.</p>
                                    <p class="text-muted">05 - By fostering an atmosphere of mutual respect and learning, we build stronger teams that are adaptable, collaborative, and focused on achieving excellence together.</p>
                                </div>
                            </div>
                        </li>                        
                        <li class="timeline-inverted">
                            <a href="#">
                                <div class="timeline-image">
                                    <h4>JOIN
                                        <br>OUR
                                        <br>TEAM!</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
