<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conheça nosso time!</h2>
                    <h3 class="section-subheading text-muted">Algumas das pessoas que tornam seu projeto uma realidade:</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Nosso time é formado por profissionais altamente qualificados e apaixonados pelo que fazem. Cada membro traz experiência, criatividade e dedicação, trabalhando juntos para entregar soluções inovadoras e personalizadas que atendem às necessidades únicas de nossos clientes.</p>
                    <p class="large text-muted">Com uma abordagem colaborativa e foco na excelência, nossa equipe está sempre pronta para enfrentar desafios e transformar ideias em resultados. Conheça as pessoas que fazem a diferença e que tornam a nossa empresa referência no mercado!</p>
                </div>
            </div>
        </div>
    </section>
